@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
$main-color:#03A9F4;

$primary: $main-color;
$link:$main-color;
@import "../node_modules/bulma/bulma";

.main-content , footer {
    margin-top: 1em;
}

.experience-section {
    min-height: 150px;
}

h2.title{
    color: #01579B;
}