@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$light-blue:#03A9F4;
$primary: $light-blue;
$link:$light-blue;
@import "../node_modules/bulma/bulma";

section.main-content , footer {
    margin-top: 2em;
}

.experience-section {
    min-height: 150px;
}

h2.title{
    color: #01579B;
}

div.social-icons span.icon {
    padding:1em;
    margin-right: 0.5em;
    border-radius: 60px; 
    border: 2px solid rgba(10, 10, 10, 0.1);
}

i.fa {
    color:#22019b;
}